@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", serif;
}

body {
  background-color: #e5e5e5;
  width: 100%;
}

.margin-right {
  margin-right: 64px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.popular-collections {
  background-color: #eff0f1;
  width: 1563px;
  height: 777px;
  padding: 62px;
  margin-top: 60px;
  border-radius: 26px;
}

.information {
  margin-bottom: 56px;
  h1 {
    font-size: 32px;
    color: #0e0e38;
    font-weight: 500;
    margin-bottom: 24px;
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  li a {
    text-decoration: none;
    color: #0e0e38;
    font-weight: 500;
  }
}

.profile {
  background-color: #ffffff;
  width: 70px;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.newyork {
  background-color: #ffffff;
  width: 94px;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.relaxing {
  background-color: #ffffff;
  width: 89px;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.person {
  background-color: #ffffff;
  width: 75px;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.fashion {
  background-color: #ffffff;
  width: 83px;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.content {
  display: flex;
  width: 1439px;
  height: 489px;
}

.product-infor {
  display: inline-block;
  background-color: #ffffff;
  width: 437px;
  height: 489px;
  padding: 24px;
  border-radius: 32px;
}

.imgs-content {
  margin-bottom: 24px;
}

.imgs-2 {
  display: flex;
  justify-content: space-between;
}

.decs-icon {
  display: flex;
  width: 389px;
  height: 36px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  span {
    display: flex;
    align-items: center;
  }
}

.margin-4 {
  margin-right: 4px;
}
