@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Merriweather", serif;
}

body {
  background-color: #e5e5e5;
  width: 100%;
}

.margin-right {
  margin-right: 64px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.container {
  background-color: #eff0f1;
  width: 1563px;
  height: 777px;
  padding: 62px;
  margin: 210px 18px;
  border-radius: 26px;
}

.header {
  margin-bottom: 56px;
  h1 {
    font-size: 32px;
    color: #0e0e38;
    font-weight: 500;
    margin-bottom: 24px;
  }

  ul {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
  }
  li a {
    text-decoration: none;
    color: #0e0e38;
    font-weight: 500;
  }
}

.profile,
.newyork,
.relaxing,
.person,
.fashion {
  background-color: #ffffff;
  height: 44px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.profile {
  width: 70px;
}
.newyork {
  width: 94px;
}
.relaxing {
  width: 89px;
}
.person {
  width: 75px;
}
.fashion {
  width: 83px;
}

.content {
  display: flex;
  width: 1439px;
  height: 489px;
}

.collection {
  display: inline-block;
  background-color: #ffffff;
  width: 437px;
  height: 489px;
  padding: 24px;
  border-radius: 32px;
}

.imgs-content {
  margin-bottom: 24px;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
}

.decs-icon {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 389px;
  height: 36px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  span {
    display: flex;
    align-items: center;
  }
}

.margin-4 {
  margin-right: 4px;
}
