/* Common: Begin */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
/* Common: End */

/* Header: Begin */
.header {
  position: relative;
  align-items: center;
  height: 32px;
  padding: 30px 150px;
}

.header-menu {
  flex-grow: 1;
  margin-left: 40px;
}

.header-menu__item {
  gap: 16px;
  align-items: center;
}

.header-logo a,
.header-menu__item span {
  color: #333f48;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}

.header-menu__item li:hover .submenu {
  display: block;
}

.header-menu__item li:hover::after {
  content: "";
  width: 100%;
  height: 32px;
  position: absolute;
  top: 36px;
  left: 0;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e6e7e8;
  padding: 0 80px;
  display: none;
  transition: all ease-in-out 0.3;
}

.submenu a:hover {
  color: #da291c;
}

.submenu-content {
  padding-left: 105px;
}

.submenu-content a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.submenu .title,
.submenu-mid-right-lable span {
  font-size: 14px;
  font-weight: 700;
}

.submenu-left {
  width: 13.87%;
  padding-top: 36px;
}

.submenu-mid {
  width: 64%;
  padding: 36px 30px 0;
}

.submenu-mid-right-lable {
  padding-left: 30px;
}

.submenu-mid-right-content {
  display: flex;
  justify-content: space-between;
}

.submenu-mid-right-content ul {
  padding-left: 30px;
}

.submenu-mid ul {
  width: 50%;
}

.submenu-mid ul ~ ul {
  width: 43%;
}

.submenu-left,
.submenu-mid {
  border-right: 1px solid #e6e7e8;
}

.submenu-right {
  margin-left: 60px;
  padding-top: 36px;
}

.submenu-content li a {
  color: #333f48;
  display: inline-block;
}

.header-search {
  border: 1px solid #edf1f5;
  border-radius: 40px;
  position: relative;
}

.search-btn {
  position: absolute;
  top: 9px;
  left: 18px;
  border: none;
  background: transparent;
  font-size: 24px;
}

.search-input {
  height: 40px;
  background-color: #fff;
  border: 1px solid #edf1f5;
  border-radius: 40px;
  width: 100%;
  padding: 8px 8px 8px 56px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333f48;
  outline: 0;
}

.header-groud-icon {
  display: flex;
  justify-content: flex-end;
  min-width: 275px;
  gap: 16px;
  margin-left: 16px;
}
/* Header: End */
